html {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 100%;
}
body {
	display: flex;
	flex-wrap: wrap-reverse;
	margin: 0;
	height: 100%;
}
#left-col {
	min-width: 200px;
	width: calc(100% - 700px);
	display: grid;
	grid-row-gap: 20px;
}
#right-col {
	display: grid;
	width: 700px;
}
#game,
#game-info,
#game-cover {
	grid-column: 1;
	grid-row: 1;
}
#game {
	z-index: 0;
	margin: auto;
}
#game-cover {
	z-index: 50;
	width: 600px;
	height: 600px;
	margin: auto;
}
#game-info {
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.section {
	grid-column: 1;
	padding: 0 50px 0 50px;
}